* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Kanit', sans-serif;
    color: rgb(197, 213, 255);
}

nav {
    height: 60px;
}

.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #834861;
    line-height: 60px;
}

a {
    text-decoration: none;
    color:rgb(108, 125, 218);
}

li {
    padding: 0 40px;
}

li:hover {
    animation: colors 3s ease 0.3s;
}

@keyframes colors {
    0% {
        background-color: #ab5378;
    }
    40% {
        background-color: #c5759a;
    }
    60% {
        background-color: #f1a6c5;
    }
    100% {
        background-color: #f3c0d5;
    }
}